
    
	<footer class="footer">
		<span class="footer">
			<p>
				Modelo desenvolvido por: Henrique, L. Imagens:
				<a target="_blank" href="https://br.freepik.com">br.freepik.com</a>; Ícones de
				<a target="_blank" href="https://fontawesome.com">FontAwesome</a>
			</p>
		</span>
	</footer>

	<script src="/assets/js/blog-bundle.js"></script>
  </body>
</html>