<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Alerta!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
   <style type="text/css">
		div, p, a, li, td { -webkit-text-size-adjust:none; }
   </style>
</head>
<body style="margin:0;padding:0;font-family: helvetica;">
	<table width="600" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<td style="padding:20px 0 20px 0;" bgcolor="#c5eef5f2" align="center">
				<img style="display:block;" alt="Imagem" src="cid:logo_odonto_topo" />
			</td>
		</tr>
		<tr>
			<td style="padding:20px 20px 20px 20px;">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td style="border-bottom:2px solid #00529f;padding:30px 0 30px 0;">
							<h1 style="color:#bb3959;" >Atenção!</h1>
							<span style="color:#00529f;font-size:22px;">Prezado(a) [user_name],</span>
							<p style="color:#00529f;font-size:16px;">Seu código para alterar a senha é:</p> <span style="color:#000000;font-size:28px;">[new_code]</span>.
							<p>Clique no link abaixo, insira o código e crie a nova senha.</p>
							<p>[link_newpass]</p>
							<strong>Atenção: O código expira em 1 hora. Passado esse prazo, acesse novamente o link para gerar outro token.</strong>
							<p>[link_getcode]</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td style="padding:15px 10px 15px 10px;" bgcolor="#c5eef5f2">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="480" style="color:#00529f;font-size:13px;" align="left">Todos os direitos reservados</td>
						<td style="font-size:12px;" width="70" align="left"><a style="color:#00529f" target="_blank" href="[main_url]/blog">Blog</a></td>
						<td style="font-size:12px;" width="30" align="left"><a style="color:#00529f" target="_blank" href="[main_url]/">Website</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>