<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>404</title>
		<link rel="icon" type="image/png" href="./assets/media/favicon.ico" />
      <link href="./assets/css/custom-font-awesome.css" rel="stylesheet" />
		<link href="./assets/css/style-blog.css" rel="stylesheet" />
   </head>

   <body>
      <header class="height-1">
         <div class="flexbox header-flex">
            <div class="header-left">
               <img draggable="false"
                  src="./assets/media/logo_odonto_topo.png"/>
            </div>
            <div class="header-right">
              
            </div>
         </div>
      </header>

      <div class="fix-header"></div>

		<div class="container">
			<h1>Erro 404!</h1>
			<img src="/assets/media/404.webp"><br><br>
			<h2>A página que você procura não existe.</h2>
			<a href="/"><button class="btn btn-back">Voltar</button></a>
		</div>

		<footer class="footer">
         <span class="footer">
            <p>
               Modelo desenvolvido por: Henrique, L. Imagens:
               <a target="_blank" href="https://br.freepik.com"
                  >br.freepik.com</a
               >; Ícones de
               <a target="_blank" href="https://fontawesome.com">FontAwesome</a>
               e
               <a target="_blank" href="https://www.flaticon.com">FlatIcons</a>
            </p>
         </span>
      </footer>

      <script src="./assets/js/bundle.js"></script>
   </body>
</html>
