<%- include('includes/head') %>
<%- include('includes/header') %>

<div class="container">
	<h1>Erro 404!</h1>
	<img src="/assets/media/404.webp"><br><br>
	<h2>A página que você procura não existe.</h2>
	<a href="/blog"><button class="btn btn-back">Voltar</button></a>
</div>

<%- include('includes/footer') %>
